* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#bg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 800px;
  height: 600px;
  margin-bottom: 24px;
  background-image: url(./images/bg.png);
  overflow: hidden;
}

.message-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  transform: translate3d(100%, 0, 0);
  transition: transform 1000ms ease-in-out;
}

.message-wrapper.is-show {
  transform: translate3d(0, 0, 0);
}

.message {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 72px;
  margin-bottom: 16px;
}

.start-button {
  padding: 16px;
  border: none;
  border-radius: 8px;
  font-size: 24px;
  font-weight: 700;
  background-color: #569147;
  color: #fff;
}

.start-button:focus {
  outline: none;
}

#hero {
  position: absolute;
  bottom: 0;
  width: 35px;
  height: 54px;
  background-image: url(./images/hero.png);
}

.right-face {
  background-position-x: -105px;
}

.left-face {
  background-position-x: -70px;
}

.enemy-div {
  position: absolute;
  width: 45px;
  height: 54px;
  background-image: url(./images/enemy.png);
}

.enemy-div.dead {
  background-position-x: -45px;
}
